
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: auto;
    padding: 20px;
}

.details-nav {
    display: flex;
    gap: 32px;
    list-style: none;
}

.details-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

/* BUTTON */
.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}
.btn-2{
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 16px;
}


.hero h3 {
    color: #469165;
    font-size: 16px;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 1000px;
}


.hero h1 {
    font-size: 48px;
    width: 770px;
}

.hero-h1 {
    color: #469165;
}

.hero p {
    width: 700px;
    font-size: 16px;
    color: #FFFFFF;
}

/* card*/
.card-section {
    background-color: #f8f9fb;
    padding: 80px 20px;
    text-align: center;
}


.section-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 50px;
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.card {
    background-color: #ffffff;
    width: 260px;
    padding: 32px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


.icon {
    width: 56px;
    height: 56px;
    background-color: #ff5a5a;
    border-radius: 50%;
    margin: 0 auto 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 24px;
}


.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #666;
}

/* Knowledge section container */
.knowledge-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
}

.knowledge-content h4 {
    color: #469165;
    font-size: 14px;
    text-transform: uppercase;
}

.knowledge-content h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #222;
}

.knowledge-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #444;
    line-height: 1.5;
}

.knowledge-content ul {
    list-style: none;
}

.knowledge-content li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Challenge Section */
.challenge {
    background-color: #F7F6F2;
    color: white;
    padding: 80px 40px;
    text-align: center;
    width: 1360px;
    margin: 0px auto;
    border: 0px 120px 120px 120px;
}

.challenge-container {
    max-width: 800px;
    margin: 0 auto;
}

.challenge-container h2{
    font-size: 40px;
    margin-bottom: 20px;
    color:#001931;
}

.challenge-container p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    color: #627382;
}

.challenge-button {
    display: inline-block;
    background-color:F7F6F2;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
}

.challenge-button:hover {
    background-color: #4338ca;
}

.challenge-note {
    font-size: 14px;
    color: #a0aec0;
}
        /* Footer Section */
.footer {
    height: 348px;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    color: #ffffff;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.footer-logo img {
    width: 40px;
}

.footer-social h1{
    font-size: 14px;
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons img {
    width: 20px;
    cursor: pointer;
}

.footer hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
    color: #cfcfcf;
}
