
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: auto;
    padding: 20px;
}

.details-nav {
    display: flex;
    gap: 32px;
    list-style: none;
}

.details-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

/* BUTTON */
.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}
.btn-2{
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 16px;
}


.hero h3 {
    color: #469165;
    font-size: 16px;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 1000px;
}


.hero h1 {
    font-size: 48px;
    width: 770px;
}

.hero-h1 {
    color: #469165;
}

.hero p {
    width: 700px;
    font-size: 16px;
    color: #FFFFFF;
}
